<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        {% stylesheet syntax %}
        {% stylesheet application %}
        <!--{% stylesheet humblekit/app/assets/stylesheets/humble_kit %}-->

    </head>
    <body>
        <section class="site" role="main">
          <header>
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </header>
          <section class="container">
            {{ content }}
          </section>
          <footer>
            <ul class="contact">
              <li>
                yorthehunter<br />
                <a href="mailto:boru.design@gmail.com">boru.design@gmail.com</a>
              </li>
              <li>
                <a href="https://github.com/yorthehunter">github.com/yorthehunter</a><br />
              </li>
            </ul>
          </footer>
        </section>

    <!-- build:js({app,.tmp}) /js/scripts.js -->
    <script src="/js/main.js"></script>
    <!-- endbuild -->
    </body>
</html>
